apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: auth-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      labels:
        app: backend
    spec:
      containers:
        - name: auth-backend
          image: avishkarlakade/auth-backend:latest
          ports:
            - containerPort: 5001
          env:
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: authapp-secrets
