apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: auth-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: auth-system
      labels:
        app: backend
    spec:
      containers:
        - name: auth-backend
          image: avishkarlakade/auth-backend:latest
          ports:
            - containerPort: 5001
          env:
            - name: NODE_ENV
              value: production

            - name: MONGODB_URI
              value: mongodb://mongoadmin:secret@mongodb:27017/authdb?authSource=admin

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-secrets
                  key: jwt

            - name: PORT
              value: "5001"
