apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: auth-system
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5001
      nodePort: 5000
